body{
	background-color:	#c19553;
}
.main-div {
	float:			center;
	text-align:		center;
}
.board{
	display:				block;
	margin:					auto;
	margin-top:				100px;
	width:					450px;
	height:					450px;
	border-radius:			7%;
	border-style:			solid;
	border-color:			#273333;
	border-width:	 		2px;
	box-shadow:				0 15px 22px 0 rgba(0,0,0,0.2), 0 15px 25px 0 rgba(0,0,0,0.19);
	background-image:		url("https://cdn.pixabay.com/photo/2013/07/12/14/42/education-148605_960_720.png");
	background-color:		#FFF6D5;
	background-repeat:		no-repeat;
	background-position:	top -50px left -55px;
	color:					#0a1128;
	font-family:			'Merienda One', cursive;
}
.code-author{
	text-align:		center;
	margin-top:		40px;
	font-family:	"Times New Roman", Times, serif;
	font-size:		1em;
}
.board-top{
	margin:			0;
	margin-top:		10px;
	font-size:		2.25em;
}
.board-text{
	margin:			0;
	margin-top:		5px;
	font-size:		2.25em;
}
.choose-link{
	color:		inherit;
	cursor:		pointer;
}
.center-block{
	display:		block;
	margin:			auto;
	margin-top:		7px;
	width:			350px;
	height:			350px;
}
.grid-sector{
	margin:			0;
	padding:		0;
	font-size:		5em;
	height:			115px;
	border-color:	#0a1128;
	border-width:	2px;
}
.grid-00{
	border-bottom:	solid;
	border-right:	solid;
}
.grid-01{
	border-bottom:	solid;
	border-left:	solid;
	border-right:	solid;
}
.grid-02{
	border-bottom:	solid;
	border-left:	solid;
}
.grid-10{
	border-top:		solid;
	border-bottom:	solid;
	border-right:	solid;
}
.grid-11{
	border:		solid;
}
.grid-12{
	border-bottom:	solid;
	border-left:	solid;
	border-top:		solid;
}
.grid-20{
	border-top:		solid;
	border-right:	solid;
}
.grid-21{
	border-top:		solid;
	border-left:	solid;
	border-right:	solid;
}
.grid-22{
	border-top:		solid;
	border-left:	solid;
}
.function-text{
	margin:			0;
	margin-right:	20px;
	font-size:		1.25em;
	text-align:		right;
}
.reset-link{
	color:		#a31621;
	cursor:		pointer;
}
a.fill-div {
	color:				inherit;
	display:			block;
	height:				100%;
	width:				100%;
	text-decoration:	none;
	cursor:				pointer;
}
